<launch>
  <master auto="start"/>
  
  <!--node name="map_server" pkg="map_server" type="map_server" args="$(find golfcart_map)/map.pgm resolution"/-->
  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping">
    <rosparam>
      odom_frame: odom
      base_frame: base_link
      map_frame: map
      
      map_update_interval: 0.5 # Publish new map

      maxUrange: 5.5 # Should be just less than sensor range
      maxRange: 6.1 # Should be just greater than sensor range
      particles: 100 # Increased from 80
      
      # Update frequencies
      linearUpdate: 0.3
      angularUpdate: 0.5
      temporalUpdate: 2.0
      resampleThreshold: 0.5
      
      # Initial Map Size
      xmin: -100.0
      ymin: -100.0
      xmax: 100.0
      ymax: 100.0
      delta: 0.05
      
      # All default
      sigma: 0.05
      kernelSize: 1
      lstep: 0.05
      astep: 0.05
      iterations: 5
      lsigma: 0.075
      ogain: 3.0
      lskip: 0
      llsamplerange: 0.01
      llsamplestep: 0.01
      lasamplerange: 0.005
      lasamplestep: 0.005
    </rosparam>
  </node>
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">

    <arg name="base_global_planner" value="navfn/NavfnROS"/>
    <arg name="base_local_planner" value="dwa_local_planner/DWAPlannerROS"/>

    <param name="base_global_planner" value="navfn/NavfnROS"/> <!--$(arg base_global_planner)"/-->
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS"/> <!--$(arg base_local_planner)"/-->  
    <rosparam file="$(find golfcart_2dnav)/config/base_local_planner_params.yaml" command="load"/>
    
    <!-- observation sources located in costmap_common.yaml -->
    <rosparam file="$(find golfcart_2dnav)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find golfcart_2dnav)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    
    <!-- local costmap, needs size -->
    <rosparam file="$(find golfcart_2dnav)/config/local_costmap_params.yaml" command="load" ns="local_costmap" />
    <param name="local_costmap/width" value="10.0"/>
    <param name="local_costmap/height" value="10.0"/>
    
    <!-- static global costmap, static map provides size -->
    <!--rosparam file="$(find golfcart_2dnav)/config/costmap_global_static.yaml" command="load" ns="global_costmap" unless="$(arg no_static_map)"/-->
    
    <!-- global costmap with laser, for odom_navigation_demo -->
    <!--rosparam file="$(find golfcart_2dnav)/config/costmap_global_laser.yaml" command="load" ns="global_costmap" if="$(arg no_static_map)"/-->
    <param name="global_costmap/width" value="100.0"/>
    <param name="global_costmap/height" value="100.0"/>
  </node>
  <!--node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
      <rosparam file="$(find golfcart_2dnav)/config/costmap_common_params.yaml" command="load" ns="global_costmap"/>
      <rosparam file="$(find golfcart_2dnav)/config/costmap_common_params.yaml" command="load" ns="local_costmap"/>
      <rosparam file="$(find golfcart_2dnav)/config/local_costmap_params.yaml" command="load"/>
      <rosparam file="$(find golfcart_2dnav)/config/global_costmap_params.yaml" command="load"/>
      <rosparam file="$(find golfcart_2dnav)/config/base_local_planner_params.yaml" command="load"/>
      </node-->
</launch>
